@import '../../assets/scss/variables';

.services {
  &__content {
    margin: 0 5rem;

    .card {
      &__image {
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 10rem;
      }

      &__content {
        &__header {
          font-weight: 500;
          color: $color-teal;
        }
      }
    }
  }
}
