@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin text-bg {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin pos-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin font-size($el) {
  @include respond-above(xs) {
    @if $el == section-header {
      font-size: 3rem;
      letter-spacing: 0.5rem;
    }
    @if $el == section-content {
      font-size: 1.4rem;
    }
    @if $el == about-content {
      font-size: 1.6rem;
    }
    @if $el == about-quote-size {
      font-size: 35rem;
    }
    @if $el == contact-heading {
      font-size: 12rem;
    }
    @if $el == contact-subheading {
      font-size: 5rem;
    }
    @if $el == home-heading {
      font-size: 3rem;
    }
    @if $el == home-content {
      font-size: 1.3rem;
    }
    @if $el == home-button {
      font-size: 1.2rem;
    }
    @if $el == navbar {
      font-size: 1.2rem;
    }
  }

  @include respond-above(sm) {
    @if $el == section-header {
      font-size: 3rem;
      letter-spacing: 1rem;
    }
    @if $el == section-content {
      font-size: 1rem;
    }
    @if $el == about-content {
      font-size: 1.2rem;
    }
    @if $el == about-quote-size {
      font-size: 25rem;
    }
    @if $el == contact-heading {
      font-size: 6rem;
    }
    @if $el == contact-subheading {
      font-size: 2.5rem;
    }
    @if $el == home-heading {
      font-size: 2.5rem;
    }
    @if $el == home-content {
      font-size: 1.1rem;
    }
    @if $el == home-button {
      font-size: 1rem;
    }
    @if $el == navbar {
      font-size: 1.2rem;
    }
  }

  @include respond-above(md) {
    @if $el == section-header {
      font-size: 5rem;
      letter-spacing: 1.1rem;
    }
    @if $el == section-content {
      font-size: 1rem;
    }
    @if $el == about-content {
      font-size: 1.2rem;
    }
    @if $el == about-quote-size {
      font-size: 25rem;
    }
    @if $el == contact-heading {
      font-size: 7rem;
    }
    @if $el == contact-subheading {
      font-size: 3rem;
    }
    @if $el == home-heading {
      font-size: 2.5rem;
    }
    @if $el == home-content {
      font-size: 1.1rem;
    }
    @if $el == home-button {
      font-size: 1rem;
    }
    @if $el == navbar {
      font-size: 1.2rem;
    }
  }

  @include respond-above(lg) {
    @if $el == section-header {
      font-size: 6rem;
      letter-spacing: 1.3rem;
    }
    @if $el == section-content {
      font-size: 1.1rem;
    }
    @if $el == about-content {
      font-size: 1.3rem;
    }
    @if $el == about-quote-size {
      font-size: 30rem;
    }
    @if $el == contact-heading {
      font-size: 10rem;
    }
    @if $el == contact-subheading {
      font-size: 4rem;
    }
    @if $el == home-heading {
      font-size: 3rem;
    }
    @if $el == home-content {
      font-size: 1.3rem;
    }
    @if $el == home-button {
      font-size: 1.1rem;
    }
    @if $el == navbar {
      font-size: 1.2rem;
    }
  }

  @include respond-above(xl) {
    @if $el == section-header {
      font-size: 8rem;
      letter-spacing: 1.5rem;
    }
    @if $el == section-content {
      font-size: 1.5rem;
    }
    @if $el == about-content {
      font-size: 1.6rem;
    }
    @if $el == about-quote-size {
      font-size: 35rem;
    }
    @if $el == contact-heading {
      font-size: 12rem;
    }
    @if $el == contact-subheading {
      font-size: 5rem;
    }
    @if $el == home-heading {
      font-size: 4rem;
    }
    @if $el == home-content {
      font-size: 1.5rem;
    }
    @if $el == home-button {
      font-size: 1.4rem;
    }
    @if $el == navbar {
      font-size: 1.4rem;
    }
  }
}
