@import '../../assets/scss/media-queries';
@import '../../assets/scss/mixins';

/* Image URLs */
$home-image: url('/assets/images/header-image.jpg');

/* Color schemes */
$color-nav-dark: #016b89;
$color-nav-light: #0d9f90;
$color-background: #262938;
$color-foreground: rgb(176, 190, 197);
$color-yellow: #ffeb3b;
$color-red: #f44336;
$color-pink: #582737;
$color-purple: #9c27b0;
$color-deep-purple: #673ab7;
$color-indigo: #3f51b5;
$color-blue: #2196f3;
$color-light-blue: #03a9f4;
$color-cyan: #00bcd4;
$color-teal: #009688;
$color-green: #4caf50;
$color-light-green: #8bc34a;
$color-lime: #cddc39;
$color-yellow: #ffeb3b;
$color-amber: #ffc107;
$color-orange: #ff9800;
$color-deep-orange: #ff5722;
$color-brown: #795548;
$color-grey: #9e9e9e;
$color-blue-grey: #607d8b;
$color-yellow-light: lighten($color-yellow, 40%);
$shadow: rgba(0, 0, 0, 0.4);

/* Attribute properties */
$navbar-height: 3rem;
