@import '../../assets/scss/base';

.about {
  &__content {
    &__text {
      @include font-size(section-content);
      padding: 0rem 1.5rem;
      display: flex;
      flex-direction: column;
      position: relative;

      & > p {
        margin-bottom: 1rem;
        color: $color-about-text;
        font-weight: 400;
        line-height: 1.5rem;
        letter-spacing: -0.01rem;
        &:nth-child(n + 2) {
          text-indent: 25px;
          // text-align: justify;
        }
        &:nth-child(4) {
          font-style: italic;
        }
        @include respond-above(lg) {
          line-height: 1.6rem;
        }
        @include respond-above(lg) {
          line-height: 1.8rem;
        }
      }

      @include respond-above(md) {
        padding: 0 3rem;
        &::before {
          content: '';
          @include font-size(about-quote-size);
          position: absolute;
          left: 2rem;
          top: -10%;
          font-weight: 400;
          font-family: sans-serif;
          // color: #7a7b7c69;
          height: 5rem;
          width: 5rem;
          background-image: url(../../assets/images/big-quote-marks-opening.png);
          background-size: contain;
          background-repeat: no-repeat;
          // @include respond-above(lg) {
          //   font-weight: 400;
          // }
        }

        &::after {
          content: '';
          @include font-size(about-quote-size);
          position: absolute;
          bottom: 15%;
          right: 2rem;
          font-weight: 400;
          font-family: sans-serif;
          // color: #7a7b7c69;
          height: 5rem;
          width: 5rem;
          background-image: url('../../assets/images/big-quote-marks-closing.png');
          background-size: contain;
          background-repeat: no-repeat;

          // @include respond-above(lg) {
          //   font-weight: 400;
          // }
        }
      }

      @include respond-above(md) {
      }

      button.download {
        @include font-size(section-content);
        font-weight: 600;
        letter-spacing: 0.1rem;
        color: $color-teal;
        padding: 1rem 1.2rem;
        border-radius: 1rem;
        text-decoration: none;
        border: 2px solid $color-teal;
        align-self: center;
        transition: all 0.5s;
        background: transparent;
        cursor: pointer;
        margin-top: 2rem;
        outline: none;

        &:hover {
          box-shadow: rgba(0, 0, 0, 0.4);
          background: $color-teal;
          color: #fff;
        }
        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }

    &__image {
      width: 100%;

      padding-bottom: 2rem;
      // display: flex;
      // justify-content: center;

      @include respond-above(sm) {
        // position: relative;
        // top: -3rem;
      }

      .profile-image {
        background-image: url('../../assets/images/profile-image.png');
        background-color: $color-background;
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 300px;

        // background-blend-mode: soft-light; // luminosity, overlay, difference
        // box-shadow: 20px 0 4rem 4rem $color-background inset;
        @include respond-above(lg) {
          height: 100%;
        }
      }
    }
  }
}
