@import '../../assets/scss/variables';

.home {
  height: calc(100vh - 3rem);
  background: darkseagreen;

  .home-text-container {
    padding-left: 7%;

    h1 {
      font-family: 'Ubuntu', sans-serif;
      font-size: 2.5rem;
      letter-spacing: 0.3rem;
      margin-bottom: 1rem;
      display: inline-flex;
      flex-flow: column;

      span {
        &:last-child {
          margin-top: 1rem;
          background: -webkit-linear-gradient(
            rgba($color-yellow, 1) 30%,
            rgba($color-yellow, 0) 100%
          );
        }
      }
    }

    p {
      font-size: 1.2rem;
      letter-spacing: 0.1rem;
    }

    .home-button {
      font-family: inherit;
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      padding: 0.7rem;
      border-radius: 0.5rem;
      text-decoration: none;
      overflow: hidden;
      background: $color-teal;
      cursor: pointer;
      color: #fff;
      margin-top: 2rem;
      outline: none;
      transition: box-shadow 1s, text-shadow 1s, transform 0.3s;

      &:hover {
        color: #fff;
        box-shadow: -0.3rem 0 1rem rgba(255, 255, 255, 0.5), 0.5rem 0 1rem rgba(255, 255, 255, 0.5);
        text-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.5), 0 0 1rem rgba(255, 255, 255, 0.5),
          0 0 1.5rem rgba(255, 255, 255, 0.5);
      }
    }
  }
  .profile-image-container {
    .profile-image {
      // background-image: url('../../assets/images/profile-image.jpg');
      width: 20rem;
      height: 15rem;
      img {
      }
    }
  }
}
