@import '../../assets/scss/base';

.home {
  height: calc(100vh - #{$navbar-height});
  margin-top: $navbar-height;
  color: $color-foreground;

  .art1 {
    position: absolute;
    top: 3rem;
    left: 30%;
    height: 3.5rem;
  }

  .artwork {
    position: absolute;
    top: calc(#{$navbar-height} + 0%);
    right: 0;
    // width: 100%;
    height: calc(100vh - #{$navbar-height});
    z-index: -1;
    background-color: $color-background;

    @include respond-below(xl) {
      top: calc(#{$navbar-height} + 10%);
      width: 50%;
    }

    @include respond-below(lg) {
      top: 30%;
      right: 0;
      width: 50%;
    }

    @include respond-below(md) {
      top: 60%;
      right: 0;
      width: 70%;
      height: 50%;
    }

    @include respond-below(sm) {
      top: 60%;
      right: 0;
      width: 90%;
      height: 40%;
    }
  }

  .home-text-container {
    padding-left: 5%;

    h1 {
      @include font-size(home-heading);
      letter-spacing: 0.3rem;
      margin-bottom: 1rem;
      display: inline-flex;
      flex-flow: column;

      span {
        &:last-child {
          margin-top: 1rem;
          text-transform: uppercase;
          color: $color-teal;
        }
      }
    }

    p {
      @include font-size(home-content);
      letter-spacing: 0.1rem;
      font-weight: 500;

      @include respond-below(xl) {
        color: white;
        font-weight: 400;
      }
    }

    .home-button {
      // font-family: inherit;
      @include font-size(home-button);
      letter-spacing: 0.1rem;
      background: $color-teal;
      color: white;
      margin-top: 2rem;
    }
  }
}
