@import '../../assets/scss/base';

.home {
  height: 100vh;
  color: $color-about-text;

  @include respond-above(sm) {
    margin-top: $navbar-height;
    height: calc(100vh - #{$navbar-height});
  }

  .art1 {
    display: none;
    @include respond-above(sm) {
      display: block;
      position: absolute;
      top: 3rem;
      left: 30%;
      height: 3.5rem;
    }
  }

  .artwork {
    display: none;
    position: absolute;
    top: calc(#{$navbar-height} + 0%);
    right: 0;
    height: calc(100vh - #{$navbar-height});
    z-index: -1;
    background-color: $color-background;

    @include respond-above(sm) {
      display: block;
      top: 60%;
      right: 0;
      width: 90%;
      height: 40%;
    }

    @include respond-below(xl) {
      top: calc(#{$navbar-height} + 10%);
      width: 50%;
    }

    @include respond-below(lg) {
      top: 30%;
      right: 0;
      width: 50%;
    }

    @include respond-below(md) {
      top: 60%;
      right: 0;
      width: 70%;
      height: 50%;
    }
  }

  .home-text-container {
    padding: 3rem 1.5rem 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;

    .introName {
      @include font-size(home-heading);
      letter-spacing: 0.1rem;

      span {
        &:last-child {
          // text-transform: uppercase;
          color: $color-teal;
          padding: 0 10px;
        }
      }
      .nameWrapper {
        display: flex;
        align-items: center;
        &::before {
          content: '';
          background-image: url('../../assets/images/code-tag-open.svg');
          background-repeat: no-repeat;
          height: 2rem;
          width: 2rem;
          display: block;
          // filter: invert(0.5) sepia(0.5) saturate(5) hue-rotate(308deg);
          filter: invert(0.3);
        }
        &::after {
          content: '';
          background-image: url('../../assets/images/code-tag-close.svg');
          background-repeat: no-repeat;
          height: 3rem;
          width: 3rem;
          display: block;
          filter: invert(0.3);
        }
      }
    }

    p {
      @include font-size(home-content);
      color: white;

      @include respond-above(sm) {
        font-weight: 500;
        letter-spacing: 0.1rem;
      }
      span {
        font-size: 1.5rem;
        color: $color-teal;
      }
    }

    .home-button {
      @include font-size(home-button);
      letter-spacing: 0.1rem;
      background: $color-teal;
      color: white;
      text-transform: capitalize;
    }
  }
}
