@import '../../assets/scss/variables';

.contact {
  &__content {
    .card {
      &__image {
        height: 10rem;
      }

      &__content {
        &__header {
          font-weight: 500;
          color: $color-teal;
          font-size: 2rem;
        }
      }
    }

    &__footer {
      &__link {
        font-size: 3rem;
      }
    }
  }
}
