@import '../../assets/scss/variables';

.contact {
  height: 95vh;
  // background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  //   url('../../assets/images/contact-bg.jpg');
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center;
  // background-attachment: fixed;

  &__heading {
    h1 {
      display: flex;
      justify-content: center;
      @include font-size(contact-heading);
      letter-spacing: 1rem;
      position: relative;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.05);
      letter-spacing: 0.5rem;
      margin: 1.5rem;

      @include respond-above(sm) {
      }

      span {
        @include font-size(contact-subheading);
        letter-spacing: 0.5rem;
        text-transform: uppercase;
        color: $color-teal;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include respond-above(sm) {
          letter-spacing: 0.7rem;
        }
      }
    }
  }

  &__content {
    padding: 0 1.5rem;
    @include respond-above(xl) {
      padding: 0 2rem;
    }
    .card__container {
      padding: 1rem 0;
      @include respond-above(md) {
        padding: 0 1rem;
      }
      @include respond-above(xl) {
        padding: 0 2rem;
      }
      .card {
        border-radius: 10px;

        &__content {
          height: auto;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: white;
          border-bottom: 0.5rem solid $color-teal;
          border-radius: 0.5rem;

          @include respond-above(md) {
            height: 38vh;
          }

          &__icon {
            @include font-size(contact-subheading);
            color: $color-teal;
          }

          &__title {
            padding-top: 1rem;
            @include font-size(section-content);
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            border-bottom: 0.3rem solid $color-teal;
          }

          &__details {
            @include font-size(section-content);
            text-align: justify;
            padding: 1rem 0.5rem 0.5rem 0.5rem;
            color: $color-teal;
            word-break: break-all;

            @include respond-above(md) {
              padding: 2rem 1rem 1rem 1rem;
            }
          }
        }
      }
    }

    &__footer {
      @include font-size(contact-subheading);
      padding: 2rem 0;

      & > * {
        display: flex;
        justify-content: center;
        text-decoration: none;

        a {
          color: $color-teal;
        }
      }
    }
  }
}
