@import '../../assets/scss/base';

.MuiAppBar-root.NavbarContainer {
  &.MuiAppBar-colorSecondary {
    background-color: $color-teal;
  }

  @include respond-above(sm) {
    align-items: center;
    overflow-x: hidden;
    letter-spacing: 0.03rem;
    @include font-size(navbar);
    font-weight: 500;

    .toolbar-link {
      flex-shrink: 0;
      padding: 0 0.5rem;
      cursor: pointer;
      color: $color-white;
      // background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9) 60%, rgba(255, 255, 255, 0) 100%);
      // -webkit-text-fill-color: transparent;
      // -webkit-background-clip: text;

      &::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: $color-amber;
        transition: width 350ms ease-out;
        backface-visibility: hidden;
      }

      &:hover {
        &::after {
          width: 100%;
          color: $color-yellow;
        }
      }
    }
  }
  @include respond-above(md) {
    .toolbar-link {
      padding: 0 1rem;
    }
  }
  @include respond-above(lg) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    letter-spacing: 0.01rem;

    .toolbar-link {
      padding: 0 0.5rem;
    }
  }
  .downloadBtn {
    display: none;
    @include respond-above(lg) {
      display: inline-flex;
      margin: 0 1.5rem;
      text-transform: capitalize;
      letter-spacing: 0.1rem;
      color: $color-teal;
      background-color: $color-white;
      font-weight: 600;
    }
    @include respond-above(lg) {
      margin: 0 2rem;
    }
  }
}

.drawerContainer {
  .MuiDrawer-paper {
    background-color: $color-background;
    width: 60vw;
    .drawerContent {
      .MuiListItemIcon-root {
        min-width: 40px;
        color: $color-foreground;
      }
      .MuiListItemText-root {
        color: $color-foreground;
      }
    }
  }
}

.NavContainerMobile {
  .menuButton {
    position: fixed;
    border-radius: 5px;
    margin: 10px 0 0 10px;
    background-color: teal;
    color: $color-white;
    z-index: 10;
  }
}
