@import '../../assets/scss/base';

.toolbar-container {
  background-image: linear-gradient(to left, $color-nav-dark, $color-nav-light);
  justify-content: space-between;
  overflow-x: auto;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.1rem;
  font-weight: 500;
  position: fixed !important;
  height: $navbar-height;
  top: 0;
  left: 0;
  right: 0;

  .toolbar-link {
    flex-shrink: 0;
    padding: 0 1rem;
    display: inline-block;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9) 60%, rgba(255, 255, 255, 0) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    span {
      &::after {
        content: '';
        display: block;
        width: 0;
        height: 0.2rem;
        position: absolute;
        background: $color-amber;
        transition: width 350ms ease-out;
      }

      &:hover {
        color: $color-yellow;

        &::after {
          width: 100%;
        }
      }
    }
  }
}
