@import '../../assets/scss/variables';

.timeline-container {
  .timeline-header {
    text-align: left;
    padding: 2rem 0 0 1.5rem;
    // padding: 1rem 0 1rem 0.7rem;
    // margin: 1rem 0 0 0.7rem;
    // background-color: rgba(0, 0, 0, 0.5);

    @include respond-above(md) {
      text-align: right;
    }

    h5 {
      font-family: inherit;
      color: $color-teal;
      font-size: 1.2rem;

      @include respond-above(md) {
      }
    }

    p {
      @include font-size(section-content);
    }
  }

  .timeline-icon {
    display: flex;
    justify-content: center;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 0.3rem;
      transform: translateX(-50%);
      height: 100%;
      background-color: $color-section-header;
    }

    .icon-container {
      width: 3rem;
      height: 3rem;
      background-color: $color-section-header;
      border-radius: 50%;
      position: relative;
      margin-top: 2rem;
      width: 2rem;
      height: 2rem;

      @include respond-above(sm) {
      }

      .icon {
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .timeline-content {
    padding-left: 1.5rem;
    @include respond-above(md) {
      padding-left: 0;
    }
    h5 {
      position: relative;
      padding-top: 1.5rem;
      color: $color-teal;
      // border-bottom: 0.2rem solid $color-teal;
      display: inline-block;
      font-size: 1.2rem;

      @include respond-above(md) {
        padding-top: 2rem;
      }
    }

    ul {
      padding: 0.5rem 0;
      text-align: justify;

      li {
        padding: 0;
        align-items: flex-start;
        @include font-size(section-content);

        .list-icon {
          color: $color-teal;
          min-width: 1rem;
          padding: 0.3rem 0.5rem 0.3rem 0;
        }

        .list-item-text span {
          @include font-size(section-content);
        }
      }

      .list-item-text span {
        @include font-size(section-content);
      }
    }
  }
}
