@import '../../assets/scss/variables';

.timeline-container {
  .timeline-header {
    text-align: right;
    padding-top: 2.5rem;

    h4 {
      font-family: inherit;
      color: $color-deep-orange;
    }
  }

  .timeline-icon {
    display: flex;
    justify-content: center;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 0.3rem;
      transform: translateX(-50%);
      height: 100%;
      background-color: $color-red;
    }

    .icon-container {
      width: 3rem;
      height: 3rem;
      background-color: $color-red;
      border-radius: 50%;
      position: relative;
      margin-top: 2rem;

      .icon {
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .timeline-content {
    h4 {
      font-family: inherit;
      position: relative;
      padding-top: 2.5rem;
      color: $color-deep-orange;
      border-bottom: 0.2rem solid $color-red;
      display: inline-block;
    }

    ul {
      font-family: inherit;
      padding: 1rem 0;
      text-align: justify;

      li {
        font-family: inherit;
        padding: 0;
        align-items: flex-start;

        .list-icon {
          color: $color-deep-orange;
          min-width: 1rem;
          padding: 0.3rem 1rem 0.3rem 0;
        }
      }
    }
  }
}
