@import './assets/scss/variables';

.App {
  .portfolio {
    .section {
      background: $color-background;
      color: $color-foreground;

      .section-heading {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 20%;
        padding: 3rem 0;

        h1 {
          color: #00968896;
          @include font-size(section-header);
          text-transform: uppercase;

          // span {
          //   letter-spacing: 1rem;
          //   text-transform: uppercase;
          //   width: 100%;
          //   text-align: center;
          //   transition: all 0.2s;

          //   &:hover {
          //     @include font-size(section-subheader);
          //   }
          // }
        }
      }

      .section-content {
        padding: 1rem 3rem 3rem 3rem;
        display: flex;
        border-bottom: 0.1rem solid $color-teal;

        @include respond-above(sm) {
          padding: 0.5rem 2rem 2rem 2rem;
        }
      }
    }
  }
}
